@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray: #efefef;
  --black: #1a1a18;
  --green: #dbff52;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply w-full h-full bg-[var(--white)]
}

section {
  @apply p-4 md:p-6 xl:p-8 2xl:p-10
}

h2 {
  @apply text-5xl font-semibold
}