@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'gatte';
  src: url('/fonts/Gatte-Medium.otf') format('truetype');
}

:root {
  --gray: #efefef;
  --black: #1a1a18;
  --green: #dbff52;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply w-full h-full bg-[var(--white)]
}

.border {
  @apply border-[1px] border-solid border-neutral-200
}

section {
  @apply p-4 md:p-6 xl:p-8 2xl:p-10
}

h2 {
  @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-semibold
}

h3 {
  @apply text-xl font-semibold
}


h4 {
  @apply text-[15px] font-semibold
}


.glass {
  background: rgba(245, 245, 245, 0.1);
  /* background: rgba(255, 255, 255, 0.1); */
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
}

/* CustomCursor.css */
.custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: var(--green);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: width 0.5s, height 0.5s;
  z-index: 2 !important;
}

.custom-cursor-hovered {
  width: 50px;
  height: 50px;
  z-index: -1 !important;
}

.custom-cursor-target {
  transition: background-color 0.5s, color 0.5s;
  z-index: 10;
}


/* pcakesection */

/* top left */
.packtopleft::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  top: -2px;
  right: -48.5px;
  box-shadow: -10px -10px 0 white;
}

.packtopleft::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  bottom: -48.5px;
  left: -2px;
  box-shadow: -10px -10px 0 white;
}

.packbottomright::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: var(--gray);
  border-radius: 50%;
  bottom: -0.5px;
  left: -49px;
  box-shadow: 10px 10px 0 white;
}

.packbottomright::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: var(--gray);
  border-radius: 50%;
  top: -49px;
  right: -1px;
  box-shadow: 10px 10px 0 white;
}

.footercurve::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: var(--black);
  border-radius: 50%;
  top: -0px;
  left: -39.8px;
  box-shadow: 20px -20px 0 white;
}

.footercurve::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: var(--black);
  border-radius: 50%;
  right: -39.8px;
  top: -0px;
  box-shadow: -20px -20px 0 white;
}

.herotop:before {
  position: absolute;
  content: '';
  width: 60px;
  height: 60px;
  background-color: white;
  left: -58px;
  top: -30px;
  transform: skew(0, 45deg);
  box-shadow: 0 60px 0 transparent;
}

.herotop:after {
  position: absolute;
  content: '';
  width: 60px;
  height: 60px;
  background-color: white;
  right: -59px;
  top: -30px;
  transform: skew(0, -45deg);
  box-shadow: 0px 60px 0 transparent;
}

.herobottom:before {
  position: absolute;
  content: '';
  width: 60px;
  height: 60px;
  background-color: white;
  left: -59px;
  top: -30px;
  transform: skew(0, 45deg);
  box-shadow: 0 60px 0 transparent;
}

.herobottom:after {
  position: absolute;
  content: '';
  width: 60px;
  height: 60px;
  background-color: white;
  right: -59px;
  top: -30px;
  transform: skew(0, -45deg);
  box-shadow: 0px 60px 0 transparent;
}